form {
    label {
        width         : 25%;
        margin-left   : 80px;
        margin-top: 10px;
        color: white;
    }
    select{
        margin-right:20px;
    }
    textarea{
        vertical-align: top;
    }
    
}
button{
    margin-left   : 40%;
    margin-top: 10px;
}